<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Abel Esteban Villalba Paez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Abel Esteban Villalba Paez" />
    <meta name="keywords" content="villalba, paez, villalba paez, abel, esteban, abel esteban, curriculum vitae, cv, software, engineer, software engineer, developer, software developer"
    />
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <script type="text/javascript" src="js/modernizr.custom.60251.js"></script>
</head>

<body>
    <div id="banner"></div>
    <div id="main" itemscope itemtype="http://www.data-vocabulary.org/Person">
        <header>
            <div id="logo">
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                    xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    width="100" height="100" id="svg2" version="1.1" inkscape:version="0.48.0 r9654" sodipodi:docname="logo.svg">
                    <defs id="defs4">
                        <linearGradient inkscape:collect="always" id="linearGradient3881">
                            <stop style="stop-color:#b3b3b3;stop-opacity:1;" offset="0" id="stop3883" />
                            <stop style="stop-color:#b3b3b3;stop-opacity:0;" offset="1" id="stop3885" />
                        </linearGradient>
                        <linearGradient id="linearGradient3840">
                            <stop style="stop-color:#ffffff;stop-opacity:1;" offset="0" id="stop3842" />
                            <stop style="stop-color:#646464;stop-opacity:1;" offset="1" id="stop3844" />
                        </linearGradient>
                        <linearGradient inkscape:collect="always" id="linearGradient3832">
                            <stop style="stop-color:#ffffff;stop-opacity:1;" offset="0" id="stop3834" />
                            <stop style="stop-color:#ffffff;stop-opacity:0;" offset="1" id="stop3836" />
                        </linearGradient>
                        <filter inkscape:collect="always" id="filter3823" x="-0.12582983" width="1.2516597" y="-0.45983139" height="1.9196628">
                            <feGaussianBlur inkscape:collect="always" stdDeviation="4.2270959" id="feGaussianBlur3825" />
                        </filter>
                        <linearGradient inkscape:collect="always" xlink:href="#linearGradient3832" id="linearGradient3838" x1="53.4375" y1="10.640625"
                            x2="53.5625" y2="37.890625" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.86054199,0,0,0.86054199,7.0523833,957.12364)"
                        />
                        <radialGradient inkscape:collect="always" xlink:href="#linearGradient3840" id="radialGradient3846" cx="47.953625" cy="31.613041"
                            fx="47.953625" fy="31.613041" r="17.953623" gradientUnits="userSpaceOnUse" />
                        <radialGradient inkscape:collect="always" xlink:href="#linearGradient3840" id="radialGradient3854" cx="49.600895" cy="1013.1265"
                            fx="49.600895" fy="1013.1265" r="30.811495" gradientTransform="matrix(0.88665187,-0.01446337,0.01269188,0.77805365,-7.094729,227.44116)"
                            gradientUnits="userSpaceOnUse" />
                        <filter inkscape:collect="always" id="filter3877" x="-0.1276187" width="1.2552374" y="-0.62657579" height="2.2531516">
                            <feGaussianBlur inkscape:collect="always" stdDeviation="4.0410796" id="feGaussianBlur3879" />
                        </filter>
                        <linearGradient inkscape:collect="always" xlink:href="#linearGradient3881" id="linearGradient3887" x1="51.239811" y1="964.54352"
                            x2="51.394032" y2="1029.774" gradientUnits="userSpaceOnUse" />
                    </defs>
                    <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2"
                        inkscape:zoom="4" inkscape:cx="55.975658" inkscape:cy="34.961429" inkscape:document-units="px" inkscape:current-layer="layer1"
                        showgrid="false" inkscape:snap-global="true" inkscape:window-width="1280" inkscape:window-height="962"
                        inkscape:window-x="1272" inkscape:window-y="-8" inkscape:window-maximized="1">
                        <inkscape:grid type="xygrid" id="grid2985" empspacing="5" visible="true" enabled="true" snapvisiblegridlinesonly="true" />
                    </sodipodi:namedview>
                    <metadata id="metadata7">
                        <rdf:RDF>
                            <cc:Work rdf:about="">
                                <dc:format>image/svg+xml</dc:format>
                                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            </cc:Work>
                        </rdf:RDF>
                    </metadata>
                    <g inkscape:label="Capa 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-952.36217)">
                        <rect ry="1.7198578" y="1028.5522" x="12.081171" height="15.47872" width="75.996628" id="rect3859" style="fill:#000000;stroke:#000000;stroke-width:0.45130521000000001;stroke-miterlimit:4;stroke-dasharray:none;filter:url(#filter3877);opacity:0.52244898"
                        />
                        <rect style="fill:url(#linearGradient3887);stroke:#ffffff;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
                            id="rect3770" width="75.996628" height="75.996628" x="12.081171" y="962.78436" ry="8.4440699" />
                        <path style="opacity:0.33061224000000000;fill:#000000;stroke:#000000;stroke-width:3.55278933;stroke-miterlimit:4;stroke-dasharray:none;filter:url(#filter3823)"
                            d="m 9.6875,68.25 0,13.09375 c 0,4.961648 4.007102,8.96875 8.96875,8.96875 l 62.6875,0 c 4.961648,0 8.96875,-4.007102 8.96875,-8.96875 l 0,-13.09375 -80.625,0 z"
                            transform="matrix(0.84440695,0,0,0.84440695,7.8591365,958.56234)" id="rect3790" inkscape:connector-curvature="0"
                        />
                        <path style="fill:url(#radialGradient3854);fill-opacity:1;stroke:#e6e6e6;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                            d="m 49.95358,1007.4657 c -14.135862,0 -25.595241,11.4593 -25.595241,25.5952 0,1.5927 0.157921,3.1416 0.43628,4.6537 l 50.317914,0 c 0.278367,-1.5121 0.43628,-3.061 0.43628,-4.6537 0,-14.1359 -11.459371,-25.5952 -25.595233,-25.5952 z"
                            id="path3763" inkscape:connector-curvature="0" />
                        <path sodipodi:type="arc" style="fill:url(#radialGradient3846);fill-opacity:1;stroke:#ececec;stroke-width:3.22325587000000000;stroke-miterlimit:4;stroke-dasharray:none"
                            id="path3768" sodipodi:cx="47.5" sodipodi:cy="42.5" sodipodi:rx="17.5" sodipodi:ry="17.5" d="m 65,42.5 a 17.5,17.5 0 1 1 -35,0 17.5,17.5 0 1 1 35,0 z"
                            transform="matrix(0.9307359,0,0,0.9307359,5.7436273,947.29464)" />
                        <path style="fill:url(#linearGradient3838);fill-opacity:1;stroke:none" d="m 23.590926,966.10554 c -4.191124,0 -7.556635,3.36552 -7.556635,7.55664 l 0,13.79556 c 11.45705,0.55473 26.68458,1.42477 36.196548,2.58163 10.132822,1.23239 20.112646,2.54787 31.893838,5.67417 l 0,-22.05136 c 0,-4.19112 -3.365511,-7.55664 -7.556635,-7.55664 l -52.977116,0 z"
                            id="rect3827" inkscape:connector-curvature="0" />
                    </g>
                </svg>
            </div>
            <h1>
                <span itemprop="name">Abel Esteban Villalba Paez</span>
            </h1>
            <h2>Welcome to my professional wordl!</h2>
            <nav>
                <ul>
                    <li>
                        <a href="index.html">
                            <canvas id="home" width="50" height="50"></canvas>
                            <br/>home</a>
                    </li>
                    <li>
                        <a href="knowledge.html">
                            <canvas id="knowledge" width="50" height="50"></canvas>
                            <br/>knowledge</a>
                    </li>
                    <li>
                        <a href="work-experience.html">
                            <canvas id="workexperience" width="50" height="50"></canvas>
                            <br/>Work experience</a>
                    </li>
                    <li>
                        <a href="contact.html">
                            <canvas id="contact" width="50" height="50"></canvas>
                            <br/>Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div id="content">
            <section id="aboutme">
                <span itemprop="photo">
                    <div id="myPhoto"></div>
                </span>
                Arranque en el mundo del desarrolo del software profesional, alla, por el 2011
            </section>
            <aside>
                <ul>
                    <li>
                        <a href="#">Etermax</a>
                    </li>
                    <li>
                        <a href="#">Sofrecom S.A.</a>
                    </li>
                    <li>
                        <a href="#">Ibermatica</a>
                    </li>
                    <li>
                        <a href="#">Octomind</a>
                    </li>
                </ul>
            </aside>
            <section>
                <article>
                    <div id="etermax"></div>
                    <h3>GAIA</h3>
                    <h4>
                        <span itemprop="role">Software Engineer</span>
                    </h4>
                    <p>Metodologias agiles, desarrollo end to end</p>
                </article>
                <article>
                    <div id="sofrecom"></div>
                    <time>2011/12</time> -
                    <time>2018/07</time>
                    <h3>Isban</h3>
                    <h4>
                        <span itemprop="role">Java Developer</h4>
                    </span>
                    </h4>
                    <p>Metodologias agiles, desarrollo back end</p>
                </article>
                <article>
                    <div id="ibermatica"></div>
                    <time>2011/06</time> -
                    <time>2011/12</time>
                    <h3>La Once</h3>
                    <h4>
                        <span itemprop="role">Java Developer</h4>
                    </span>
                    </h4>
                    <p>Metodologias agiles, desarrollo back end</p>
                </article>
                <article>
                    <div id="octomind"></div>
                    <time>2010/08</time> -
                    <time>2011/07</time>
                    <h3>Sistema de administracion de infraciones de Bs. As.</h3>
                    <h4>
                        <span itemprop="role">Java Developer</h4>
                    </span>
                    </h4>
                    <p>Metodologias agiles, desarrollo back end</p>
                </article>
            </section>
        </div>

        <footer>
            <h6>
                <div class="vcard">
                    <div>
                        <span class="name">Abel Esteban Villalba Paez</span> -
                        <span class="locality">Ciudad Autonoma de Buenos Aires</span> -
                        <span class="region">Buenos Aires</span> -
                        <span class="postal-code">1056</span> -
                        <span class="country-name">Argentina</span>
                    </div>
                    <div>
                        <span class="email">villalbapaez.abelesteban@gmail.com</span>
                    </div>
                </div>
            </h6>
            <script type="text/javascript">
                if (localStorage.villalbapaezabelestebanpagecount) {
                    localStorage.villalbapaezabelestebanpagecount = Number(localStorage.villalbapaezabelestebanpagecount) + 1;
                } else {
                    localStorage.villalbapaezabelestebanpagecount = 1;
                }
                document.write("Has visitado mi site " + localStorage.villalbapaezabelestebanpagecount + " veces.");

                if (sessionStorage.villalbapaezabelestebanpagecount) {
                    sessionStorage.villalbapaezabelestebanpagecount = Number(sessionStorage.villalbapaezabelestebanpagecount) + 1;
                } else {
                    sessionStorage.villalbapaezabelestebanpagecount = 1;
                }
                document.write("En esta session, has visitado mi site " + sessionStorage.villalbapaezabelestebanpagecount + " veces.");
            </script>
        </footer>
    </div>
</body>

</html>

<script type="text/javascript">
    let colorBlack = "Black";
    let colorGrey = "Grey";
    let scale = 0.5;

    var c = document.getElementById("contact");
    var cxt = c.getContext("2d");

    cxt.fillStyle = colorGrey;
    cxt.beginPath();
    cxt.arc(scale * 50 - 10, scale * 25, scale * 20, 0, Math.PI * 2, true);
    cxt.closePath;
    cxt.fill();

    cxt.fillStyle = colorGrey;
    cxt.beginPath();
    cxt.arc(scale * 50 - 10, scale * 90, scale * 40, Math.PI, Math.PI * 2, false);
    cxt.closePath;
    cxt.fill();

    cxt.fillStyle = colorBlack;
    cxt.beginPath();
    cxt.arc(scale * 50 + 10, scale * 25, scale * 20, 0, Math.PI * 2, true);
    cxt.closePath;
    cxt.fill();

    cxt.fillStyle = colorBlack;
    cxt.beginPath();
    cxt.arc(scale * 50 + 10, scale * 90, scale * 40, Math.PI, Math.PI * 2, false);
    cxt.closePath;
    cxt.fill();
</script>